%table#forums
  %tr
    %th{:class=>"name"}
      Forum name
    %th{:class=>"topic"}
      Topics
  - @forums.each do |forum|
    %tr{:class=>"#{cycle('odd', 'even')}"}
      %td{:class=>"name"}
        .forumname=link_to forum.name, forum_topics_path(:forum_id => forum)
        .forumdescription=forum.description
      %td{:class=>"topic"}=forum.topics_count