/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  background: #fff url(h-grad.png) repeat-x;
  height: 60px;
  margin-top: 10px;
  text-align: left;
  padding-top: 1px;
}

#container {
  width: 760px;
  min-width: 760px;
  margin: 0 auto;
  padding: 0px;
}

#sidemenu {
  font-size: 80%;
  float: left;
  width: 100px;
  padding: 0;
}

#sidemenu ul {
  list-style: none;
  margin-left: 0px;
  padding: 0;
}

a {
  color: #b00;
}

a:hover {
  background-color: #b00;
  color: #eee;
}

#content {
  float: right;
  width: 650px;
}